/*
A Stylesheet for all our css
*/


form.main-form{
  margin: 0 1%;
}

form.main-form > div{
  margin: 1em;
}

form.main-form fieldset{
  border:1px solid #ccc;
  max-width:350px;
}

form.main-form legend{
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  margin-left: .5em;
  padding: 0.2em 0.5em;
}

input:required{
  border:px red;
}

form.main-form input[type="submit"]{
  background-color: #fff;
  border-radius: 4px;
  padding: 0.2em 0.5em;
  border: solid 1px #ccc

}

